*

!README.md
!.bashrc
!.gitignore 
!.p10k.zsh
!.zshrc

!.config/

!.config/dolphinrc

!.config/hypr/
!.config/hypr/**
.config/hypr/curr-wp.jpg

!.config/kitty/
!.config/kitty/**

!.config/rofi/
!.config/rofi/launchers/
!.config/rofi/launchers/type-4/
!.config/rofi/launchers/type-4/style-4.rasi
!.config/rofi/launchers/type-4/launcher.sh

!.config/waybar/
!.config/waybar/**

